.adminPage {
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: flex-start;
}

.adminSidebar {
  width: 300px;
  height: 97vh;
  background-color: yellow;
  svg,
  path {
    height: 2rem;
    width: 2rem;
  }
}

.adminHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
