.cartWrapper {
  max-width: 43vw;
  margin: 0 auto;
  font-weight: bold;
  h1 {
    font-weight: 100;
    font-size: 4rem;
    margin: 3rem 1rem;
  }
  span {
    font-size: 1.2rem;
  }
}

.cartHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1rem;
}

.cartHeadPicture {
  width: 5rem;
  text-align: center;
}
.cartHeadName {
  text-align: center;
}
