.addNewBookTitle {
  font-size: 3rem;
  text-align: center;
  margin: 2rem auto;
  color: indigo;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 12px;
  border-bottom: 5px solid indigo;
  width: 30vw;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30vw;
  margin-top: 2.5rem;
  label {
    margin-top: 4px;
  }
  input {
    padding: 12px;
    font-size: 1.2rem;
    border: 1px solid lightgray;
    margin-top: 9px;
  }
  button {
    padding: 1.2rem;
    border-radius: 12px;
    border: none;
    background-color: slateblue;
    font-weight: bold;
    margin-top: 12px;
    color: white;
    cursor: pointer;
  }
}
