.cartItem {
  display: flex;
  width: 100%;
  margin-top: 12px;
  flex-direction: row;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  img {
    width: 4vw;
    object-fit: cover;
    margin-right: 2rem;
  }
  span {
    margin-right: 3px;
  }
}

.bookName {
  text-decoration: underline;
  font-weight: bold;
  margin-right: 2rem;
}
.bookCategory {
  margin: 0 2rem;
}

.bookPrice {
  margin-left: 4rem;
}

.cartCounter {
  display: flex;
  flex-direction: row;
  margin-left: 5.5rem;
  margin-right: 2rem;
  input {
    border: none;
    outline: none;
    border: 1px solid lightgray;
    width: 3rem !important;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 8px;
    /* Disappear input number type arrows */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
  button {
    padding: 12px;
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}

.cartTotal {
  margin-left: 2.8rem;
  font-size: 1.2rem;
}

.cartCloseBtn {
  margin-left: 3rem;
  align-self: center;
  height: 20px;
  width: 20px;
  color: tomato;
  cursor: pointer;
}
