.bookWrapper {
  border: 1px solid lightgray;
  width: 200px;
  border-radius: 8px;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  transform: all;
  transition: 1s;
  img {
    height: 200px;
    width: 200px;
    object-fit: contain;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    img {
      backdrop-filter: blur(5px);
    }
    .bookBottom {
      display: none;
    }
    .bookBottomFocus {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.bookTop {
  position: relative;
  svg,
  path {
  }
}
.bookBottom {
  background-color: rgb(231, 231, 231);
  height: 75px;
  width: 200px;
  padding: 12px;
  border-radius: 8px;
  p {
    font-size: 1.25rem;
    margin-bottom: 6px;
  }
  span {
    margin-top: 8px;
    color: green;
    font-weight: bold;
    font-size: 1rem;
  }
}

.bookBottomFocus {
  display: none;
  background-color: aquamarine;
  width: 200px;
  height: 75px;
  padding: 12px;
  border-radius: 8px;
  svg,
  path {
    width: 40px;
    height: 40px;
  }
}
